@model ApplicationCore.Models.PurchaseDetailsResponseModel

@{
    ViewData["Title"] = "Purchase Details";
}

<h1>Purchase Details</h1>

<div>
    @Model.PurchaseDateTime
    @Model.PurchaseNumber
</div>